// When the player is "medium" and higher, display everything by default.
//
// When the player is "small", display only:
// - Play button
// - Volume Mute button
// - Progress bar
// - Subs-Caps button
// - Fullscreen button
//
// When the player is "small", display only:
// - Play button
// - Volume Mute button
// - Progress bar
// - Fullscreen button
//
// When the player is "tiny", display only:
// - Play button
// - Volume Mute button
// - Fullscreen Button
//
.ovp {

  &.ovp-layout-small,
  &.ovp-layout-x-small,
  &.ovp-layout-tiny {
    .ovp-current-time,
    .ovp-time-divider,
    .ovp-duration,
    .ovp-remaining-time,
    .ovp-playback-rate,
    .ovp-chapters-button,
    .ovp-descriptions-button,
    .ovp-captions-button,
    .ovp-subtitles-button,
    .ovp-audio-button,
    .ovp-volume-control {
      display: none;
    }

    // Reset the size of the volume panel to the default so we don't see a big
    // empty space to the right of the mute button.
    .ovp-volume-panel.ovp-volume-panel-horizontal:hover,
    .ovp-volume-panel.ovp-volume-panel-horizontal:active,
    .ovp-volume-panel.ovp-volume-panel-horizontal.ovp-slider-active {
      width: auto;
      width: initial;
    }
  }

  // Hide the subs-caps button for non-Live UI "x-small" and for "tiny" players.
  &.ovp-layout-x-small:not(.ovp-liveui),
  &.ovp-layout-x-small:not(.ovp-live),
  &.ovp-layout-tiny {
    .ovp-subs-caps-button {
      display: none;
    }
  }

  // With the new Live UI, we can have the same treatment as "tiny". At
  // "x-small", the Live UI makes the progress control very small and almost
  // useless.
  &.ovp-layout-x-small.ovp-liveui,
  &.ovp-layout-tiny {

    .ovp-custom-control-spacer {
      @include flex(auto);
      display: block;
    }

    &.ovp-no-flex .ovp-custom-control-spacer {
      width: auto;
    }

    .ovp-progress-control {
      display: none;
    }
  }
}
