// ovp-control might be better named ovp-button now.
// It's used on both real buttons (play button)
// and div buttons (menu buttons)
.ovp .ovp-control {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 4em;
  @include flex(none);

}
.ovp-button > .ovp-icon-placeholder:before {
  font-size: 1.8em;
  line-height: 1.67;

  @extend %icon-default;
}

.ovp-button > .ovp-icon-placeholder {
    display: block;
}

// Replacement for focus outline
.ovp .ovp-control:focus:before,
.ovp .ovp-control:hover:before,
.ovp .ovp-control:focus {
  text-shadow: 0em 0em 1em rgba($primary-foreground-color, 1);
}

// Hide control text visually, but have it available for screenreaders
.ovp .ovp-control-text {
  @include hide-visually;
}

.ovp-no-flex .ovp-control {
  display: table-cell;
  vertical-align: middle;
}
