.ovp .ovp-control-bar {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.0em;

  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);
}

// Video has started playing
.ovp-has-started .ovp-control-bar {
  @include display-flex;
  visibility: visible;
  opacity: 1;

  $trans: visibility 0.1s, opacity 0.1s; // Var needed because of comma
  @include transition($trans);
}

// Video has started playing AND user is inactive
.ovp-has-started.ovp-user-inactive.ovp-playing .ovp-control-bar {
  // Remain visible for screen reader and keyboard users
  visibility: visible;
  opacity: 0;
  // prevent a click/tap from interacting with ovp-lock-showing menu's
  // or other controls while we are inactive/hidden
  pointer-events: none;

  $trans: visibility 1.0s, opacity 1.0s;
  @include transition($trans);

}

.ovp-controls-disabled .ovp-control-bar,
.ovp-using-native-controls .ovp-control-bar,
.ovp-error .ovp-control-bar {
  // !important is ok in this context.
  display: none !important;
}

// Don't hide the control bar if it's audio
.ovp-audio.ovp-has-started.ovp-user-inactive.ovp-playing .ovp-control-bar {
  opacity: 1;
  visibility: visible;
}

// no flex support
.ovp-has-started.ovp-no-flex .ovp-control-bar {
  display: table;
}
