.ovp .ovp-time-control {
  @include flex(none);
  font-size: 1em;
  line-height: 3em;
  min-width: 2em;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.ovp-live .ovp-time-control {
  display: none;
}

// We need the extra specificity that referencing .ovp-no-flex provides.
.ovp .ovp-current-time,
.ovp-no-flex .ovp-current-time {
  display: none;
}

.ovp .ovp-duration,
.ovp-no-flex .ovp-duration {
  display: none;
}

.ovp-time-divider {
  display: none;
  line-height: 3em;
}

.ovp-live .ovp-time-divider {
  // Already the default, but we want to ensure when the player is live
  // this hides in the same way as the other time controls for other skins
  display: none;
}
