.ovp .ovp-mute-control {
  cursor: pointer;
  @include flex(none);

  & .ovp-icon-placeholder {
    @extend .ovp-icon-volume-high;
  }
}

.ovp .ovp-mute-control.ovp-vol-0 .ovp-icon-placeholder {
  @extend .ovp-icon-volume-mute;
}
.ovp .ovp-mute-control.ovp-vol-1 .ovp-icon-placeholder {
  @extend .ovp-icon-volume-low;
}
.ovp .ovp-mute-control.ovp-vol-2 .ovp-icon-placeholder {
  @extend .ovp-icon-volume-mid;
}

.ovp .ovp-volume-control {
  cursor: pointer;
  margin-right: 1em;
  @include display-flex;
}
.ovp .ovp-volume-control.ovp-volume-horizontal {
  width: 5em;
}

.ovp .ovp-volume-panel .ovp-volume-control {
  visibility: visible;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin-left: -1px;
}

.ovp .ovp-volume-panel {
  &.ovp-hover .ovp-volume-control,
  &:active .ovp-volume-control,
  &:focus  .ovp-volume-control,
  & .ovp-volume-control:active,
  &.ovp-hover .ovp-mute-control  ~ .ovp-volume-control,
  & .ovp-volume-control.ovp-slider-active {
    &.ovp-volume-horizontal {
      width: 5em;
      height: 3em;
      margin-right: 0;
    }
    visibility: visible;
    opacity: 1;
    position: relative;

    &.ovp-volume-vertical {
      left: -3.5em;
      @include transition(left 0s);
    }
    $transition-property: visibility 0.1s, opacity 0.1s, height 0.1s, width 0.1s, left 0s, top 0s;
    @include transition($transition-property);
  }

  &.ovp-volume-panel-horizontal {
    &.ovp-hover,
    &:active,
    &.ovp-slider-active {
      width: 10em;

      @include transition(width 0.1s);
    }
    &.ovp-mute-toggle-only {
      width: 4em;
    }
  }

  @include transition(width 1s);
}

.ovp .ovp-volume-panel .ovp-volume-control.ovp-volume-vertical {
  height: 8em;
  width: 3em;
  left: -3000em;

  $transition-property: visibility 1s, opacity 1s, height 1s 1s, width 1s 1s, left 1s 1s, top 1s 1s;
  @include transition($transition-property)
}

.ovp .ovp-volume-panel .ovp-volume-control.ovp-volume-horizontal {
  $transition-property: visibility 1s, opacity 1s, height 1s 1s, width 1s, left 1s 1s, top 1s 1s;
  @include transition($transition-property)
}

.ovp.ovp-no-flex .ovp-volume-panel .ovp-volume-control.ovp-volume-horizontal {
  width: 5em;
  height: 3em;

  visibility: visible;
  opacity: 1;
  position: relative;

  @include transition(none);
}

.ovp.ovp-no-flex .ovp-volume-control.ovp-volume-vertical,
.ovp.ovp-no-flex .ovp-volume-panel .ovp-volume-control.ovp-volume-vertical {
  position: absolute;
  bottom: 3em;
  left: 0.5em;
}

.ovp .ovp-volume-panel {
  @include display-flex;
}

.ovp .ovp-volume-bar {
  margin: 1.35em 0.45em;
}

.ovp-volume-bar.ovp-slider-horizontal {
  width: 5em;
  height: 0.3em;
}

.ovp-volume-bar.ovp-slider-vertical {
  width: 0.3em;
  height: 5em;
  margin: 1.35em auto;
}

.ovp .ovp-volume-level {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: $primary-foreground-color;

  @extend .ovp-icon-circle;

  // Volume handle
  &:before {
    position: absolute;
    font-size: 0.9em; // Doing this to match the handle on play progress.
    z-index: 1;
  }
}

.ovp-slider-vertical .ovp-volume-level {
  width: 0.3em;

  // Volume handle
  &:before {
    top: -0.5em;
    left: -0.3em;
    z-index: 1;
  }
}
.ovp-slider-horizontal .ovp-volume-level {
  height: 0.3em;

  // Volume handle
  &:before {
    top: -0.3em;
    right: -0.5em;
  }
}

.ovp .ovp-volume-panel.ovp-volume-panel-vertical {
  width: 4em;
}

// Assumes volume starts at 1.0.
.ovp-volume-bar.ovp-slider-vertical .ovp-volume-level {
  height: 100%;
}

.ovp-volume-bar.ovp-slider-horizontal .ovp-volume-level {
  width: 100%;
}

.ovp .ovp-volume-vertical {
  width: 3em;
  height: 8em;
  bottom: 8em;

  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);
}

.ovp .ovp-volume-horizontal .ovp-menu {
  left: -2em;
}

// .ovp-volume-tooltip
//
// These elements are displayed above the volume bar.
//
// By default, they are hidden and only shown when hovering over the volume
// control.
.ovp .ovp-volume-tooltip {
  @include background-color-with-alpha(#fff, 0.8);
  @include border-radius(0.3em);
  color: #000;
  float: right;
  font-family: $text-font-family;
  font-size: 1em;
  padding: 6px 8px 8px 8px;
  pointer-events: none;
  position: absolute;
  top: -3.4em;
  visibility: hidden;
  z-index: 1;
}

.ovp .ovp-volume-control:hover .ovp-volume-tooltip,
.ovp .ovp-volume-control:hover .ovp-progress-holder:focus .ovp-volume-tooltip {
  display: block;
  font-size: 1em;
  visibility: visible;
}

.ovp .ovp-volume-vertical:hover .ovp-volume-tooltip,
.ovp .ovp-volume-vertical:hover .ovp-progress-holder:focus .ovp-volume-tooltip {
  left: 1em;
  top: -12px;
}

.ovp .ovp-volume-control.disabled:hover .ovp-volume-tooltip {
  font-size: 1em;
}

// .ovp-mouse-display / MouseVolumeLevelDisplay
//
// This element tracks the mouse position along the volume control and
// includes a tooltip, which displays the volume level.
.ovp .ovp-volume-control .ovp-mouse-display {
  display: none;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: 1;
}

.ovp .ovp-volume-horizontal .ovp-mouse-display {
  width: 1px;
  height: 100%;
}

.ovp-no-flex .ovp-volume-control .ovp-mouse-display {
  z-index: 0;
}

.ovp .ovp-volume-control:hover .ovp-mouse-display {
  display: block;
}

.ovp.ovp-user-inactive .ovp-volume-control .ovp-mouse-display {
  visibility: hidden;
  opacity: 0;
  $trans: visibility 1.0s, opacity 1.0s;
  @include transition($trans);
}

.ovp.ovp-user-inactive.ovp-no-flex .ovp-volume-control .ovp-mouse-display {
  display: none;
}

.ovp-mouse-display .ovp-volume-tooltip {
  color: #fff;
  @include background-color-with-alpha(#000, 0.8);
}
