.ovp-menu-button-popup .ovp-menu {
  display: none;
  position: absolute;
  bottom: 0;
  width: 10em;
  left: -3em; // (Width of ovp-menu - width of button) / 2
  height: 0em;
  margin-bottom: 1.5em;
  border-top-color: rgba($primary-background-color, $primary-background-transparency); // Same as ul background
}

// Button Pop-up Menu
.ovp-menu-button-popup .ovp-menu .ovp-menu-content {
  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);

  position: absolute;
  width: 100%;
  bottom: 1.5em; // Same bottom as ovp-menu border-top
  max-height: 15em;
}

.ovp-layout-tiny .ovp-menu-button-popup .ovp-menu .ovp-menu-content,
.ovp-layout-x-small .ovp-menu-button-popup .ovp-menu .ovp-menu-content {
  max-height: 5em;
}

.ovp-layout-small .ovp-menu-button-popup .ovp-menu .ovp-menu-content {
  max-height: 10em;
}

.ovp-layout-medium .ovp-menu-button-popup .ovp-menu .ovp-menu-content {
  max-height: 14em;
}

.ovp-layout-large .ovp-menu-button-popup .ovp-menu .ovp-menu-content,
.ovp-layout-x-large .ovp-menu-button-popup .ovp-menu .ovp-menu-content,
.ovp-layout-huge .ovp-menu-button-popup .ovp-menu .ovp-menu-content {
  max-height: 25em;
}

.ovp-workinghover .ovp-menu-button-popup.ovp-hover .ovp-menu,
.ovp-menu-button-popup .ovp-menu.ovp-lock-showing {
  display: block;
}
